# Ignored
**/*.json
**/*.jsonld
**/*.csv
**/*.xlsx
**/*.code-workspace
**/.mypy_cache
.DS_Store
.python-version

# Allowed
!**/old_models/*.csv
!**/models/*.csv
!**/EL_data_model_v3.csv
!**/EL_data_model_v3.jsonld
!**/EL.data.model.csv
!**/EL.data.model.jsonld
