# Ignored
**/*.json
**/*.jsonld
**/*.csv
**/*.xlsx
**/*.code-workspace
**/.mypy_cache
**/.DS_Store
**/__pycache__
.python-version
testing/test_files/*
_data/manifest_generation_results.txt
**/*.log
**/legacy-data-models

# Allowed
!**/old_models/*.csv
!**/models/*.csv
!**/modules/*.csv
!**/EL_data_model_v3.csv
!**/EL_data_model_v3.jsonld
!**/EL.data.model.csv
!**/EL.data.model.jsonld
!**/modules/*
!**/dca-template-config.json
!**/dca_config.json
legacy-data-models/old_models
data/manifest_generation_links.txt
data/manifest_generation_results.txt
!**/manifest-templates/*
