# Ignored
**/*.json
**/*.jsonld
**/data/*.csv
**/*.xlsx
**/*.code-workspace
**/.mypy_cache
**/.DS_Store
**/__pycache__
.python-version
testing/test_files/*
_data/manifest_generation_results.txt
**/*.log
**/legacy-data-models
**/great_expectations/
data_model_creation/_logs/

#schematic and synapse creds
.synapseConfig
.synapseCache/*
*/schematic_service_account_creds.json

# Allowed
!**/old_models/*.csv
!**/models/*.csv
!**/modules/*.csv
!**/EL.data.model.csv
!**/EL.data.model.jsonld
!**/model-modules/*
!**/dca-template-config.json
!**/dca_config.json
data/manifest_generation_links.txt
data/manifest_generation_results.txt
!**/manifest-templates/*
