[submodule "schema_visualization_elite"]
path = schema_visualization_elite
url = https://github.com/eliteportal/schema_visualization_elite.git
[submodule "data-dictionary"]
	path = data-dictionary
	url = https://github.com/eliteportal/data-dictionary.git
